<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <title>Edit Page</title>
  </head>

  <body>
    <button><a href="/">Back to index</a></button>
    <button><a href="/<%= moment.id %>">Back to moment</a></button>
    <h1>Edit a Moment</h1>
    <form
      ref="uploadForm"
      id="uploadForm"
      action="/<%= moment.id %>?_method=PUT"
      method="POST"
      encType="multipart/form-data"
    >
      Username:
      <select name="userID">
        <option value="<%= currentUser._id %>"
          ><%= currentUser.username %></option
        >
      </select>
      <br />
      Upload photo:
      <input type="text" name="img" id="img" value="<%= moment.img %>" /> or
      <input type="file" name="uploadFile" /><br />
      Title:
      <input
        type="text"
        name="title"
        id="title"
        placeholder="Title"
        value="<%= moment.title %>"
      /><br />
      Description:
      <textarea type="text" name="description" placeholder="Description">
<%= moment.description %></textarea
      ><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
