<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <title>Moments</title>
  </head>

  <body>
    <% if (currentUser) { %>
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Log out" />
    </form>
    <div class="topDisplay">
      <h1>Hi, <%= currentUser.username %>!</h1>
      <button><a href="/add">New Moment</a></button>
    </div>
    <div class="container">
      <% for (let i in moments) { %>
      <div class="item">
        <% if (moments[i].img.split("").includes("/")) { %>
        <img src="<%= moments[i].img %>" width="400" height="400" />
        <% } else { %>
        <img
          src="/controllers/uploaded/<%= moments[i].img %>"
          width="400"
          height="400"
        />
        <% } %>
        <p>
          <a href="/<%= moments[i]._id %>"><%= moments[i].title %></a>
        </p>
      </div>
      <% } %>
    </div>
    <% } else { %>
    <nav>
      <button><a href="/sessions/new">Log in</a></button>
      <button><a href="/users/new">Sign up</a></button>
    </nav>
    <h1>Hi, welcome to Moments!</h1>
    <% } %>
  </body>
</html>
