<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <title>Moments</title>
  </head>

  <body>
    <div class="showItem">
      <p>
        <button><a href="/">Back to index</a></button><br />
      </p>
      <img
        src=" <% if (moment.img.split('').includes('/')) { %> <%=moment.img%>
      <% } else { %> /controllers/uploaded/<%=moment.img%> <% } %> "
        width="500"
        height="500"
      />
      <h3><%= moment.title %></h3>
      <p class="moment-description"><%= moment.description %></p>
      <button><a href="/<%= moment._id %>/edit">Edit</a></button>
      <form action="/<%= moment.id %>?_method=DELETE" method="POST">
        <input type="submit" value="Delete" />
      </form>
    </div>
  </body>
</html>
